*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: sans-serif;
  background-color: #e9efed;
  margin: 0;
  padding: 1em;
}

.scroll {
  overflow: scroll;
}

.image-icon {
  background-image: url('images/nenb-icon.png');
}

.image-size-64 {
  height: 64px;
  width: 64px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.bordered {
  border: thin solid #AAA;
  border-radius: 0.5em;
  padding: 0.05em 0.4em;
}

table.full-width {
  width: 100%;
}

td {
  padding: 0.1em 0.5em;
}

table.bands tr:nth-child(even) {
  background-color: #F1F1F1;
}

thead td {
  font-weight: bold;
}

thead td {
  border-bottom: thin solid #777;
}

tr.header td {
  border-bottom: thin solid #777;
}
